@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.header-content {
    max-width: 1296px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Roboto", sans-serif;
    margin-top: 33px;
    font-size: 24px;
}
.nav-list ul {
    display: flex;
    column-gap: 41px;
}
.nav-button{
    font-family: "Roboto", sans-serif;
    // font-size: 24px;
    color: #000000;

}
.nav-button:hover{
    border-bottom: 2px solid #F1BC00;
}

.right-header {
    display: flex;
    align-items: center;
    column-gap: 88px;
}
.sign-in {
    display: flex;
    align-items: center;
    column-gap: 9px;
    // font-size: 24px;
}
.sign-in p {
    cursor: pointer;
}
.burger-menu {
    display: none;
}

@media (max-width:1300px) {
    .header-content {
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media (max-width:1000px) {
    .burger-menu {
        display: block;
    }
    .nav-list {
        display: none;
    }
    .header-content {
        padding-left: 40px;
    }
}


@media (max-width:768px) {
    .header-content {
        font-size: 18px;
    }
}


@media (max-width:500px) {
    .header-content {
        font-size: 13px;
    }
    .right-header {
        column-gap: 90px;
    }
}